<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>空氣品質查詢</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style/style.css">
</head>

<body>
    <div class="main">
        <div class="left">
            <div class="up FSO5">更新時間：<span id="updateTime"></span></div>
            <div class="botton">
                <div class="FS2"></div>
                <div class="FS3 FW700"></div>
            </div>
        </div>
        <div class="card">
            <div class="option">
                <div>
                    <label for="location">選擇縣市：</label>
                    <select id="city">
                        <option value="" disabled selected style="display:none;">請選擇</option>
                    </select>
                </div>
                <div>
                    <label for="location">選擇監測站：</label>
                    <select id="site">
                        <option value="" disabled selected style="display:none;">請選擇</option>
                    </select>
                </div>
            </div>
            <div class="aqiEle">
                <div class="aqi FS2 FW700"></div>
            </div>
            <hr>
            <div class="quality">
                <div class="info">
                    <span>PM2.5 (μg/m3) 細懸浮微粒 小時濃度</span>
                    <span id="pm2_5"></span>
                </div>
                <div class="info">
                    <span>O3 (ppb) 臭氧 小時濃度</span>
                    <span id="o3"></span>
                </div>
                <div class="info">
                    <span>CO (ppm) 一氧化碳 小時濃度</span>
                    <span id="CO"></span>
                </div>
                <div class="info">
                    <span>SO2 (ppb) 二氧化硫 小時濃度</span>
                    <span id="SO2"></span>
                </div>
                <div class="info">
                    <span>NO2 (ppb) 二氧化氮 小時濃度</span>
                    <span id="NO2"></span>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/script/script.js"></script>
</body>
</html>